html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Sora', sans-serif;
}

* {
    user-select: none !important;
}

i {
    font-size: 18pt;
    font-weight: 200;
}

body {
    background-image: url(e1zRTOC.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(3px);
    overflow: hidden;
    position: relative;
    z-index: 2;
}

body::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #49494970;
    z-index: 2;
}

.divider {
    position: relative;
    height: 1px;
    width: 80%;
    background-color: #fff5;
}

a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    /* background-image: linear-gradient(199deg, rgb(0, 70, 120) 0%, rgb(118, 0, 120) 100%); */
    background: #0004;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: cover;
    width: 43%;
    z-index: 3;
    border: 1px solid #fff2;
    border-radius: 20px;
    color: #fff;
    text-align: right;
}

#title {
    margin: 10px 0 0 0;
    line-height: 1;
    width: 80%;
    font-weight: 400;
}

#description {
    width: 80%;
    margin: 10px;
    font-weight: 200;
}

.main-links {
    height: 100%;
    width: 80%;
    padding: .5rem;
    list-style-type: none;
    margin-bottom: 0;
}

.social-wide {
    border: 1.5px solid #fff5;
    border-radius: 20px;
    margin: 15px 0;
    margin-bottom: -5px;
    padding: .5rem;
    padding-right: 15px;
    text-align: left;
    text-indent: 10px;
    font-size: 10pt;
    letter-spacing: 2pt;
    cursor: pointer;
    align-items: center;
    transition: ease-in .15s;
}

.social-wide:hover {
    scale: 1.02;
    transition: ease-in .15s;
}

.button-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.social-button {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #fff5;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    transition: ease-in .15s;
}

.social-button:hover {
    scale: 1.05;
    transition: ease-in .15s;
}

.telegram:hover {
    background:#0088cc;
}

.github:hover {
    background:#171515;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497c6 0%, #fdf497c6 5%, #fd5849c6 45%,#d6249ec6 60%,#2859ebc6 90%);
}

.outlook:hover {
    background:#00a2ed;
}

.twitter:hover {
    background:#00acee;
}

.discord:hover {
    background: #7289d9;
}

.reddit:hover {
    background:#ff4500;
}

.spotify:hover {
    background: #1DB954;
}

.steam:hover {
    background: #1b2838;
}

.youtube:hover {
    background:#FF0000;
}

.outro {
    font-style: italic;
    width: 80%;
    text-align: right;
    color: #fff5;
    font-weight: 200;
}

@media screen and (max-width: 700px) {
    main {
        width: 55%;
        text-align: center;
    }

    .outro {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    main {
        width: 80%;
    }
}